@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* custom colors */
  --primaryGold: #cc9933;
  --primaryBlack: #000000;

  --font-jost: "Jost", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primaryGold: var(--primaryGold);
  --color-primaryBlack: var(--primaryBlack);

  --font-jost: var(--font-jost);
}

/* ==============================
   Global HTML Styles
   ============================== */

html {
  scroll-behavior: smooth;

  /* ==============================
   Custom Scrollbar Styling
   ============================== */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #000000; /* Track color */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primaryGold); /* Thumb color */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family:
    "Jost",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

@keyframes logo-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-slide {
  animation: logo-slide 30s linear infinite;
}

.animate-logo-slide:hover {
  animation-play-state: paused;
}

@keyframes vertical-slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-vertical-slide {
  animation: vertical-slide 30s linear infinite;
}

.animate-vertical-slide:hover {
  animation-play-state: paused;
}
